* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.938);
}

.main-header {
    width: 100%;
    height: 60px;
    background: linear-gradient(#c91212, #ff00007a);
    display: flex;
    align-items: center;
    justify-content: space-around;

    & .logo {
        text-align: center;

        & p {
            font-size: 1.8rem;
            font-weight: 600;
            color: white;

            & span {
                color: black;
            }
        }
    }

    & nav {
        & .link {
            margin: 0 10px;
            font-size: 1.1rem;
            font-weight: 600;
            color: black;
            transition: 0.3s ease-in-out;

            & Link:hover .active{
                color: white;
                transition: 0.3s ease-in-out
            }
        }
    }

    & .login {
        position: relative;

        & .btn-login {
            width: 2rem;
            height: 2rem;
            border: 2px solid black;
            border-radius: 50%;
            cursor: pointer;

            background: url(../../../assets/perfil.png) #121212;
            background-size: cover;
            background-position: center;
        }

        & .menu {
            position: absolute;
            top: 36px;
            left: 0;
            width: 150px;
            background: #202020;
            padding: 6px;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            z-index: 100;

            & .login-link {
                width: 100%;
            }

            & .btn-menu {
                width: 138px;
                background: transparent;
                border: 1px solid black;
                height: 30px;
                color: white;
                font-weight: 600;
                transition: 0.2s ease-in-out;
                display: flex;
                align-items: center;
                justify-content: center;

                & .icon-btn {
                    width: 20%;
                }

                & .btn-info {
                    width: 80%;
                    text-align: start;
                }
            }

            & .btn-menu:hover {
                background: gray;
                color: black;
                font-weight: 600;
                transition: 0.2s ease-in-out;
            }
        }
    }
}

.main-footer {
    width: 100%;
    height: 80px;
    background: linear-gradient(#ff00007a, #c91212);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p {
        color: #121212;
        font-size: 12px;
        font-weight: 500;

        & span {
            color: #444343;
        }
    }

    & nav {
        & ul {
            display: flex;

            & li {
                margin: 0 10px;

                & a {
                    color: rgb(68, 67, 67);
                    font-size: 12px;
                    transition: 0.2s ease-in-out;
                }

                & a:hover {
                    color: #121212;
                    transition: 0.2s ease-in-out;
                }
            }
        }
    }
}